<!DOCTYPE html>
<html>
<head>
    <title> User | LogIn </title>
</head>
<body>
    <form action="/user/login" method="post">
        <label> Email: </label>
        <input type="email" name="email" placeholder="Enter Name" required>

        <label> Password: </label>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit"> LogIn </button>
    </form>
</body>
</html>