<!DOCTYPE html>
<html>
<head>
    <title> User | SignUp </title>
</head>
<body>
    <form action="/user" method="post">
        <label> Full Name: </label>
        <input type="text" name="name" placeholder="Your Name" required>

        <label> Email: </label>
        <input type="email" name="email" placeholder="Your Email" required>

        <label> Password: </label>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit"> SignUp </button>
    </form>
</body>
</html>